<footer>

    <section class="footer__contact-info">
        <h4 class="footer__title subtitle-small">Contact information</h4>
            <div class="footer__list-item">
                <img class="footer__list-item-image" src="images/email-icon.png">
                <a target="_blank" href="mailto:info@kotkt.nl"><p class="footer__list-item-paragraph paragraph">info@kotkt.nl</p></a>
            </div>

            <div class="footer__list-item">
                <img class="footer__list-item-image" src="images/phone-icon.png">
                <a target="_blank" href="tel:31+651018209"><p class="footer__list-item-paragraph paragraph">(+31)6 51018209</p></a>
            </div>

            <div class="footer__list-item">
                <img class="footer__list-item-image" src="images/facebook-icon.png">
                <a target="_blank" href="https://www.facebook.com/ESRGKnights"><p class="footer__list-item-paragraph paragraph">ESRGKnights</p></a>
            </div>

            <div class="footer__list-item">
                <img class="footer__list-item-image" src="images/instagram-icon.png">
                <a target="_blank" href="https://www.instagram.com/knightsofthekitchentable/"><p class="footer__list-item-paragraph paragraph">knightsofthekitchentable</p></a>
            </div>
    </section>

    <section class="footer__visiting-address">
        <h4 class="footer__title subtitle-small">Visiting address</h4>
        <p class="footer__paragraph paragraph">Campus La Luna (TU/e)<br>
            De Lampendriessen 31<br>
            5612 AH Eindhoven
        </p>
    </section>

    <section class="footer__postall-address">
        <h4 class="footer__title subtitle-small">Postall address</h4>
        <p class="footer__paragraph paragraph">
            ESRG Knights of the Kitchen Table<br>
            TU/e Luna de Plint postvak 11<br>
            Postbus 513<br>
            5600 MB Eindhoven
        </p>
    </section>

    <section class="footer__business-information">
        <h4 class="footer__title subtitle-small">Business information</h4>
        <p class="footer__paragraph paragraph">
            IBAN: NL49 RABO 0325 427 771<br>
            KVK: 17150314
        </p>
    </section>

    <img class="footer__d20" src="images/d20 white.png">
    <img class="footer__meeple" src="images/meeple_white.png">

</footer>

<script defer language="javascript" type="text/javascript"  src="javascript/caroussel.js"></script>