<section class="header">
    
    <img class="header__logo" src="images/Knights vaandel met draak.png">

    <main class="header__content">
        <ul class="header__nav paragraph">
            <a href="#about-us"><li class="header__nav-item">About us</li></a>
            <li class="header__nav-item activities"><a href="#activities">Our activities</a>
                <div class="header__dropdown-activities">
                    <p class="header__placeholder"></p>
                    <a href="#roleplay"><p class="header__dropdown-item">Tabletop roleplay</p></a>
                    <a href="#boardgames"><p class="header__dropdown-item">Boardgames</p></a>
                    <a href="#larp"><p class="header__dropdown-item">LARP</p></a>
                    <a href="#artscrafts"><p class="header__dropdown-item">Arts & crafts</p></a>
                </div></li>
            <li class="header__nav-item events"><a href="#events">Events</a>
                <div class="header__dropdown-events">
                    <p class="header__placeholder"></p>
                    <a href="#roleplay"><p class="header__dropdown-item">Fantasy court</p></a>
                    <a href="#boardgames"><p class="header__dropdown-item">Knights weekend</p></a>
                </div>
            </li></a>
            <li class="header__nav-item">Agenda</li>
            <a href="#sign-up"><li class="header__nav-item">Contact</li></a>
        </ul>

        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScZYmRqBUk4cxl5sZ35gbewRYzoto8FY1PIKljFFj_WqhQn5Q/viewform"><button class="header__button button" type="button">Sign up!</button></a>

        <p class="header__paragraph paragraph">NL | <span class="active">ENG</span></p>
    </main>

</section>
