.article-quote-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3vw 10vw;
    justify-content: space-between;
    
    span {
        border-bottom: 7px solid var(--yellow);
        display: inline-block;
        height: 35px;
        position: absolute;
        width: 7%;
    }

    .article-quote-right__divider {
        border-top: 7px solid var(--yellow);
        width: 10vw;
        margin-bottom: 20px;
    }

    .article-quote-right__content {
        width: 50%;

        .article-quote-right__paragraph {
            color: var(--dark-green);
        }
    }

    aside.article-quote-right__container {
        width: 50%;
        margin-left: 100px;
    }

    .article-quote-right__dice {
        position: absolute;
        width: 29%;
        right: -9%;
        margin-top: 9%;
        z-index: -2;
    }
}