.hero__slider-controls {
    display: flex;
    gap: 10px;
    padding-bottom: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: -5%;
    z-index: 100;

    .hero__slider-circle {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
}

.open {
    border: 2px solid var(--yellow);

    &:hover {
        cursor: pointer;
    }
}


.closed {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}

/* Add the push animation effect */
.push {
    animation: pushIn 1.5s ease-out forwards;
}

/* The animation for the slide-in effect */
@keyframes pushIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
